@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Josefin+Sans:ital,wght@1,300&display=swap');
:root{

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);

}

body {
  margin: 0;
  font-family: 'Alata', sans-serif;
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
